body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #acb6e5, #86fde8);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Efek kaca buram untuk Safari */
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
}
.nav-item {
  padding: 8px;
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.nav-item:hover {
  font-weight: bold;
}
.nav-item.active {
  font-weight: bold;
}
.logo-icon {
  background-image: url("../assets/logo.png");
  height: 75px;
  width: 120px;
  background-size: cover;
}
.main-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}
.main-content {
  padding: 50px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.main-content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content-banner {
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
  overflow: hidden;
  box-shadow: 3px 3px 16px rgba(189, 118, 220, 0.966);
}
.container {
  width: 100%;
  height: 250px;
}
.images img {
  width: 100%;
  height: 250px;
  display: none; /* Initially hide all images */
}
.images img:first-child {
  display: block; /* Show the first image */
}

.caption {
  margin-right: 20px;
  margin-left: 20px;
}
.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 15px;
  align-self: flex-start;
  margin-left: 100px;
}
.item-icon {
  height: 50px;
  width: 50px;
  background-image: url("https://preview.redd.it/can-someone-make-inosuke-from-demon-slayer-i-tried-to-in-v0-z34uob4rlv3b1.jpg?width=640&crop=smart&auto=webp&s=2e959ce55dabe1457e9d2ae4773c092b3f5527e5");
  border-radius: 50%;
  background-size: cover;
  margin-right: 9px;
}
.main-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}
.main-item div {
  margin-left: 15px;
}
.main-item h6 {
  margin: 0;
  font-size: 1.5em;
}
.main-item p {
  margin: 0;
  font-size: 1em;
}
input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}
.tombol {
  margin-bottom: 100px;
}
button {
  height: 38px;
  background-color: rgb(104, 188, 214);
  border: none;
  padding: 12px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button1 {
  width: 75%;
}
.button2 {
  width: 30%;
  margin: 0 auto;
}
.button-container {
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background: #333;
  color: white;
}
.copyright-text {
  color: var(--color-lgrey);
  text-align: center;
  font-family: "Roboto", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "Hiragino Sans", "游ゴシック", YuGothic, "メイリオ", sans-serif;
  font-weight: 500;
}
label {
  text-align: left;
  width: 75%;
  font-size: 15px;
}
select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace;
}
.col-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
h6 {
  font-family: cursive;
}
.p-list {
  text-align: start;
}
.places {
  display: flex;
}
.bintang {
  display: flex;
}
h2 {
  text-align: center;
  padding: 1px;
  margin-top: 50px;
}
.item-icon2-list {
  height: 50px;
  width: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/4283/4283062.png");
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 9px;
}
.item-icon2-bintang {
  height: 50px;
  width: 50px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/477/477406.png");
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 9px;
}
.divider {
  width: 90px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}
.divider2 {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.divider3 {
  background-color: none;
  height: 20px;
  border: none;
}
.divider4 {
  background-color: none;
  height: 0px;
  border: none;
}
.reason {
  width: 100%;
  margin-top: 30px;
}

.item-icon1,
.item-icon2,
.item-icon3,
.item-icon4 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 9px;
}
.item-icon1 {
  background-image: url("../assets/number-1.png");
}
.item-icon2 {
  background-image: url("../assets/number-2.png");
}
.item-icon3 {
  background-image: url("../assets/number-3.png");
}
.item-icon4 {
  background-image: url("../assets/number-4.png");
}
.quote {
  text-align: center;
}

.quote {
  padding: 20px;
}

/*



*/
/* Media Queries */
@media (max-width: 1024px) {
  .col-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .places,
  .bintang {
    flex-direction: column;
  }
  .main-item {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .col-list {
    padding: 20px;
  }
  .main-content {
    padding: 20px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-item {
    margin: 5px 0;
  }
  .main-item {
    padding: 10px;
  }
}
